body{
	background-color: #f4f4f4;
}
.art{
    margin-bottom: 4em;
}
.videoWrapper {
    max-width: 660px;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 0 auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.margin{
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.max600{
	width: 600px;
	height: 600px;

}
.border{
	border:#4a4a4a;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

.outline{
	outline: 0;
}

.szeroko {
	line-height: 2rem;
}

.margi{
	margin-top: 1rem;
	margin bottom: 1rem;
}

.minmax{
	height: 400px;
}

.mar{
	margin-top: 1rem;
	margin bottom: 1rem;
}

dl{
	display: block;
	margin-left: 1rem;
}
.line{
	height: 150px;
	width: 50%;
	border-right:#4a4a4a solid 1px;
}

.paddy {
	padding-left: 3rem;
	padding-right: 3rem;
}
footer{
	background-color: crimson;
}
button{
	margin: 0 auto;
}
#bigpic {
	height: 400px;
}
#but{
	height: 400px;
	justify-content: center;
}
#abs{
	margin-top: 219px;
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
  }